<app-header />

<div class="setWidth">
  <div class="container">
    <div class="info">
      <span>Welkom op Bank der Vacatures!</span>
      <img src="../../assets/alogo-4.png" height="150" width="195" />
    </div>

    <div class="form">
      <div class="vacancyForm">
        <h2 style="margin-bottom: 10px;">Maak u eigen vacature</h2>
        <mat-dialog-content>
          <mat-form-field>
            <mat-label>Opleiding</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Branch</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Uren</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Salaris</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Locatie</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Adres</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field class="beschrijvingInput">
            <mat-label>Beschrijving</mat-label>
            <textarea matInput rows="6"></textarea>
          </mat-form-field>
          <button mat-flat-button type="button">Toevoegen</button>
        </mat-dialog-content>
      </div>
    </div>
  </div>
</div>

<app-footer />
