<app-header />

<div class="setWidth">
  <div class="container">
    <div class="info">
      <span>Welkom op Bank der Vacatures!</span>
      <img src="../../assets/alogo-4.png" height="150" width="195" />
    </div>

    <div class="form">
      <div class="vacancyForm" [formGroup]="createVacancyForm">
        <h2 style="margin-bottom: 10px">Maak u eigen vacature</h2>
        <mat-dialog-content>
          <mat-form-field>
            <mat-label>Naam</mat-label>
            <input matInput formControlName="createVacancyName" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Opleiding</mat-label>
            <input matInput formControlName="createVacancyEdu" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Branch</mat-label>
            <mat-select formControlName="createVacancyBranch" id="brancheOption">
              <mat-option *ngFor="let branche of branches" [value]="branche">
                {{ branche.branchName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field>
            <mat-label>Uren</mat-label>
            <input matInput formControlName="createVacancyHours" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Salaris</mat-label>
            <input matInput formControlName="createVacancySalary" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Locatie</mat-label>
            <input matInput formControlName="createVacancyLocation" />
          </mat-form-field>
          <mat-form-field class="beschrijvingInput">
            <mat-label>Beschrijving</mat-label>
            <textarea
              matInput
              rows="5"
              formControlName="createVacancyDescription"
            ></textarea>
          </mat-form-field>
          <button mat-flat-button type="button" (click)="onSubmit()">
            Toevoegen
          </button>
        </mat-dialog-content>
      </div>
    </div>
  </div>
</div>

<app-footer />
