*{
    overflow: hidden;
}
.dialog-header {
    height: 50px;
    width: 100%;
    margin: 0px;
    background-color: #2F72C8;
    border-bottom: 2px solid black;
}


.mat-mdc-dialog-title {
    height: 100%;
    padding-top: 1px;
    text-align: center;
    font-size: 40px;
    color: white;
}

.mat-mdc-dialog-content {
    text-align: center;
    overflow-y: hidden !important;
}

p { 
    margin: 5px;
    color: black;
    padding: 4px;
    background-color: rgb(249, 249, 249);
}
.mat-mdc-dialog-actions {
    justify-content: flex-end;
}
.mat-mdc-button{
    font-size: 10px;
}

.log-in-btn{
    align-self: center;
    margin-bottom: 5px;
    width: 150px;
    border-radius: 10px;
    font-size: 15px ;
    font-weight: bolder;
    color: white;
    background-color: #27C468;
}

.log-out-btn{
    width: 75px;
    border-radius: 10px;
    font-size: 10px ;
    font-weight: bolder;
    color: white ;
    background-color: red;
}
